In [2]:
import pandas as pd
import icecream as ic

In [3]:
gender = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-01-19/gender.csv')
crops = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-01-19/crops.csv')
households = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-01-19/households.csv')

In [4]:
gender.head()

       County      Male    Female  Intersex     Total
0       Total  23548056  24014716      1524  47564296
1     Mombasa    610257    598046        30   1208333
2       Kwale    425121    441681        18    866820
3      Kilifi    704089    749673        25   1453787
4  Tana River    158550    157391         2    315943

In [19]:
crops['County'] = [x[0]+x[1:].lower() for x in crops['SubCounty']]
crops['County'] = [x.replace(" ","") for x in crops['County']]

In [6]:
crops.head()

,SubCounty,Farming,Tea,Coffee,Avocado,Citrus,Mango,Coconut,Macadamia,Cashew Nut,Khat (Miraa),County
0,KENYA,6354211,476613.0,478936.0,966976.0,177445.0,796867.0,90952.0,195999.0,61664.0,134148.0,Kenya
1,MOMBASA,12497,NaN,NaN,NaN,NaN,NaN,1688.0,NaN,602.0,NaN,Mombasa
2,KWALE,108074,NaN,NaN,1063.0,10053.0,30272.0,31954.0,881.0,22803.0,NaN,Kwale
3,KILIFI,161188,NaN,NaN,NaN,6808.0,37519.0,47561.0,NaN,27940.0,NaN,Kilifi
4,TANA RIVER,35094,NaN,NaN,NaN,1109.0,6561.0,2228.0,NaN,1691.0,NaN,Tana river

In [20]:
households['County'] = [x.replace(" ", "") for x in households['County']]

In [21]:
len(households)

48

In [24]:
new = households.merge(crops, how='inner', on=['County'])

In [25]:
new

,County,Population,NumberOfHouseholds,AverageHouseholdSize,SubCounty,Farming,Tea,Coffee,Avocado,Citrus,Mango,Coconut,Macadamia,Cashew Nut,Khat (Miraa)
0,Kenya,47213282,12143913,3.9,KENYA,6354211,476613.0,478936.0,966976.0,177445.0,796867.0,90952.0,195999.0,61664.0,134148.0
1,Mombasa,1190987,378422,3.1,MOMBASA,12497,NaN,NaN,NaN,NaN,NaN,1688.0,NaN,602.0,NaN
2,Kwale,858748,173176,5.0,KWALE,108074,NaN,NaN,1063.0,10053.0,30272.0,31954.0,881.0,22803.0,NaN
3,Kilifi,1440958,298472,4.8,KILIFI,161188,NaN,NaN,NaN,6808.0,37519.0,47561.0,NaN,27940.0,NaN
4,Lamu,141909,37963,3.7,LAMU,18678,NaN,NaN,NaN,2742.0,7423.0,5017.0,189.0,8085.0,NaN
5,Garissa,835482,141394,5.9,GARISSA,47645,NaN,NaN,NaN,NaN,1726.0,NaN,NaN,NaN,NaN
6,Wajir,775302,127932,6.1,WAJIR,63433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Mandera,862079,125763,6.9,MANDERA,62639,NaN,NaN,NaN,NaN,2685.0,NaN,NaN,NaN,NaN
8,Marsabit,447150,77495,5.8,MARSABIT,39167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Isiolo,267997,58072,4.6,ISIOLO,24271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Meru,1535635,426360,3.6,MERU,274865,30404.0,28195.0,41746.0,6255.0,27457.0,NaN,29545.0,NaN,85023.0
11,Embu,604769,182743,3.3,EMBU,130990,18664.0,28996.0,19355.0,3581.0,26771.0,NaN,27488.0,NaN,34900.0
12,Kitui,1130134,262942,4.3,KITUI,215322,NaN,NaN,12066.0,7510.0,35471.0,NaN,NaN,NaN,NaN
13,Machakos,1414022,402466,3.5,MACHAKOS,231341,NaN,23525.0,45243.0,22797.0,75504.0,NaN,6519.0,NaN,NaN
14,Makueni,977015,244669,4.0,MAKUENI,193531,NaN,3371.0,34107.0,27006.0,70130.0,NaN,4293.0,NaN,NaN
15,Nyandarua,636002,179686,3.5,NYANDARUA,140854,NaN,NaN,2892.0,1580.0,NaN,NaN,NaN,NaN,NaN
16,Nyeri,752695,248050,3.0,NYERI,164229,23300.0,57983.0,22810.0,2521.0,10228.0,NaN,25436.0,NaN,NaN
17,Kirinyaga,605630,204188,3.0,KIRINYAGA,139866,25135.0,47835.0,19691.0,2429.0,15311.0,NaN,28508.0,NaN,5821.0
18,Murang'a,1053059,318105,3.3,MURANG'A,231400,43819.0,64533.0,52839.0,7210.0,38361.0,NaN,35618.0,NaN,NaN
19,Kiambu,2402834,795241,3.0,KIAMBU,214052,20958.0,31152.0,31392.0,2160.0,9855.0,NaN,11748.0,NaN,NaN
20,Turkana,922210,164519,5.6,TURKANA,61209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Samburu,307957,65910,4.7,SAMBURU,43149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Nandi,883634,199426,4.4,NANDI,148887,37564.0,11044.0,29356.0,1202.0,5806.0,NaN,NaN,NaN,NaN
23,Baringo,662760,142518,4.7,BARINGO,100465,NaN,3069.0,12372.0,2605.0,10600.0,NaN,1673.0,NaN,NaN
24,Laikipia,513879,149271,3.4,LAIKIPIA,90729,NaN,NaN,5273.0,2121.0,2103.0,NaN,773.0,NaN,NaN
25,Nakuru,2142667,616046,3.5,NAKURU,283652,10041.0,NaN,20209.0,4332.0,6560.0,NaN,NaN,NaN,NaN
26,Narok,1149379,241125,4.8,NAROK,181706,NaN,NaN,13430.0,1784.0,2332.0,NaN,NaN,NaN,NaN
27,Kajiado,1107296,316179,3.5,KAJIADO,97565,NaN,NaN,2994.0,NaN,2776.0,NaN,NaN,NaN,NaN
28,Kericho,896863,206036,4.4,KERICHO,150845,55837.0,24774.0,40748.0,2283.0,5588.0,NaN,NaN,NaN,NaN
29,Bomet,873023,187641,4.7,BOMET,152564,50704.0,1940.0,44903.0,3298.0,3679.0,NaN,NaN,NaN,NaN
30,Kakamega,1861332,433207,4.3,KAKAMEGA,335269,4644.0,2990.0,63886.0,4435.0,49075.0,NaN,2292.0,NaN,NaN
31,Vihiga,587189,143365,4.1,VIHIGA,113753,11273.0,1717.0,34321.0,1233.0,26209.0,NaN,NaN,NaN,NaN
32,Bungoma,1663898,358796,4.6,BUNGOMA,280445,2047.0,37773.0,73765.0,5268.0,54581.0,NaN,2428.0,NaN,NaN
33,Busia,886856,198152,4.5,BUSIA,148257,NaN,1498.0,27498.0,3616.0,35530.0,NaN,1148.0,NaN,NaN
34,Siaya,989708,250698,3.9,SIAYA,194362,NaN,NaN,31729.0,7350.0,44660.0,NaN,1262.0,NaN,NaN
35,Kisumu,1144777,300745,3.8,KISUMU,147117,NaN,NaN,19478.0,5265.0,28305.0,NaN,NaN,NaN,NaN
36,Migori,1108950,240168,4.6,MIGORI,169958,NaN,3864.0,33338.0,4444.0,27231.0,NaN,1196.0,NaN,NaN
37,Kisii,1260509,308054,4.1,KISII,219853,67394.0,53580.0,88326.0,3850.0,17144.0,NaN,NaN,NaN,NaN
38,Nyamira,603051,150669,4.0,NYAMIRA,110028,62706.0,25936.0,43349.0,2020.0,3502.0,NaN,NaN,NaN,NaN